$body-bg: #efeff4;
// Color
$color-main:        #f51861;
$color-yellow:      #ff9300;
$color-gray-dark:   #999999;
$color-gray-light: #cccccc;
$color-gray:        #cccccc;
$color-black:       #000000;
$color-green:       #00cc70;
$color-white:       #ffffff;
$color-red:        #e4393c;

// Border
$border-color:      #e5e5e5;
$border-radius:     4px;

// Text Color
$text-color:        #333333;
$param-color:       #666666;
$text-secondary:    $color-gray-dark;

// Body
$bg-body:           #efeff4;
$bg-dialog:         $color-white;

$index-header:      800;
$index-nav:         800;
$index-mask:        9999;
$index-dialog:      10000;
$index-toast:       20000;